body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right bottom, pink, #6dd5fa, pink);
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 80%;
  max-width: 600px;
}

h1 {
  color: #343a40;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 50px;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  -webkit-background-clip: text;
  color: transparent; 
  background-image: linear-gradient(to right, lightblue, pink);
  -webkit-text-stroke: 1px black; 
  
}


form {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #343a40;
  text-align: center;
}

input[type="text"],
input[type="date"],
button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.9);
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #526e8b;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.completed {
  text-decoration: line-through;
}
